Repository rustwasm/wasm-pack, pull requests merged in 2020-01, with the labels that each got.

#756 fix(docs): fix broken link and typo for "Commands"
  docs/src/commands/index.md
  docs/src/commands/new.md
Labels: changelog - docs

#719 Update reference to cargo's `--offline` feature
  docs/src/commands/build.md
Labels: changelog - docs

#766 Add docs and actionable error message for failed wasm-opt executions
  docs/src/cargo-toml-configuration.md
  src/command/build.rs
Labels: blocked, needs discussion

#769 Adds end to end test for building a generated project
  tests/all/build.rs
Labels: changelog - maintenance

#767 doc: Document installation via npm or yarn
  docs/_installer/index.html
Labels: changelog - docs
